# data
data/raw/*
data/bronze/*
data/silver/*
!data/**/.gitkeep

# python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/

# models
ml/model_registry/*
!ml/model_registry/.gitkeep

# dashboard
node_modules/
dashboard/dist/

# dbt build artifacts
dbt/retailrocket/target/
dbt/retailrocket/logs/
dbt/retailrocket/dbt_packages/

# editor
.idea/
.vscode/

# env / local
.env
spark-warehouse/
metastore_db/
derby.log
dbt/retailrocket/.user.yml
